* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main .Posts {
    width: 100%;
    height: 450px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

main .Posts .container_Posts {
    width: 90%;
    height: auto;

    margin-right: auto;
    margin-left: auto;
    
}

main .Posts .container_Posts .caja {
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main .Posts .container_Posts .caja .Posts {
    width: 30px;
    height: 250px;
    position: relative;
    text-align: end;
}

main .Posts .container_Posts .caja .Posts .rota {
    position: absolute;
    top: 65px;
    transform: rotate(270deg);
    font-family: Amiri;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

main .Posts .container_Posts .caja .card {
    width: 25%;
    height: 250px;
    position: relative;
}

main .Posts .container_Posts .caja .card1 {
        display: flex;
        justify-content: center;
        align-items: center;
}

main .Posts .container_Posts .caja h4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    
}

main .Posts .container_Posts .caja .card h3 {
    position: absolute;
    top: -60px;
    transform: rotate(270deg);
    font-family: Amiri;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}


main .Posts .container_Posts .caja .card img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

@media screen and  (max-width: 1000px) {

    main .Posts .container_Posts .caja .Posts .rota {
        top: 50px;
        letter-spacing: 5px;
    }
}

@media screen and  (max-width: 768px) {

    main .Posts {
        height: 1050px;
    }

    main .Posts .container_Posts .caja {
        padding-top: 0;
    }

    main .Posts .container_Posts .caja .Posts {
        width: 100%;
        height: 0;
    }

    main .Posts .container_Posts .caja .Posts .rota {
        transform: rotate(0);
    }

    main .Posts .container_Posts .caja .card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .Posts .container_Posts .caja h4 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        
    }
}